body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: #27272B;
}

.slogan {
    padding-left: 2.5%;
    color: #f0f0f0;
}

.navbar {
    margin: 10px 15px;
}

.navbar-inverse {
    background-color: #323236;
    border: 0px solid transparent;
}

.nav-pills li {
    height: 50px;
    padding: 10px 0px;
}

.nav-pills li span.glyphicon {
    color: #ddd;
    font-size: 25px;
}

.nav-pills li span.badge {
    margin: 0 10px;
    font-size: 13px;
}

.user-screen-name {
    color: #DD4E4E;
}

.tweet-list > li {
    list-style: none;
    margin: 0 0 10px 0;
    background-color: #323236;
    overflow: hidden;
    border-top: 5px solid transparent;
    border-radius: 3px;
    color: #f0f0f0;
    font-size: 14pt;
    padding: 5px;
}

.media-object {
    height: 48px;
    width: 48px;
}

.media-heading {
    margin-top: 2px;
}

p {
    padding-left: 0px !important;
}

h5 {
    margin-top: 5px !important;
}

.user-image {
    padding: 5px 10px 5px 5px;
}

.time {
    color: #bfbfbf;
    margin-right: 5px;
    margin-top: 5px;
}

.msg-wrap .media-heading {
    color: #003bb3;
    font-weight: 700;
}

.msg-date {
    background: none;
    text-align: center;
    color: #aaa;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
}

body::-webkit-scrollbar {
    width: 12px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#444;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #555;
}
